<nav class="navbar">
  <div class="logo">
    <a routerLink="/home">
      <img src="../../../favicon.ico" alt="Logo" class="logo-img">
    </a>
  </div>

  <div class="center">
    <p class="name">AlledrogO.lx</p>
  </div>

  <ul class="user-links">
    <li>
      <a routerLink="/users">Users</a>
    </li>
    <li *ngIf="isLoggedIn()">
      <a (click)="logout()" routerLink="/home">Logout</a>
    </li>
    <li *ngIf="isLoggedIn()">
      <a routerLink="/account">Account</a>
    </li>
    <li *ngIf="!isLoggedIn()">
      <a routerLink="/login">Log In</a>
    </li>
    <li *ngIf="!isLoggedIn()">
      <a routerLink="/signup">Signup</a>
    </li>
  </ul>
</nav>
<p>Cognito URL: {{ cognitoLoginUrl }}</p>
<p>Backend URL: {{ backendUrl }}</p>