<nav class="navbar">
  <div class="home">
    <button class="icon-button">
      <a routerLink="/home"> <i class="fa-sharp fa-solid fa-house nav-icon"></i> </a>
    </button>
  </div>

  <div class="searchbar">
    <input class="search-input" type="text" placeholder="Search...">
    <button class="icon-button"> <i class="fa-sharp fa-solid fa-magnifying-glass nav-icon"></i> </button>
  </div>

  <ul class="user-links">
    <li><a routerLink="/account" routerLinkActive="active">Account</a></li>
    <li><a routerLink="login">Log In</a></li>
    <li><a routerLink="signup">Signup</a></li>
  </ul>
</nav>
