<div class="background-svg">
  <div class="login-container">
    <p class="text-white login-header">Redirecting to Cognito...</p>
    <!-- <p class="text-white login-header">Login</p>
    <p class="text-white login-info">Please enter email and password</p>
    <div class="email-input-container">
      <label for="email" class="d-flex text-white email-label">E-mail:</label>
      <input
        type="email"
        id="email"
        name="email"
        #email="ngModel"
        [(ngModel)]="user.email"
        class="form-control text-white"
        email
        required
      />
      <div *ngIf="email.invalid && email.touched" class="error-box">
        {{ email.errors?.['required']? 'Email is required' : 'Please enter a valid email address.' }}
      </div>
    </div>

    <div class="password-input-container">
      <label for="password" class="d-flex text-white password-label">Password:</label>
      <div class="input-group">
        <input
          id="password"
          name="password"
          #password="ngModel"
          [(ngModel)]="user.password"
          class="form-control text-white"
          required
          [type]="passwordType"
          (keyup.enter)="signIn()"
        />
        <span class="input-group-append">
      <button
        class="btn show-password-button"
        (click)="togglePasswordVisibility()"
      >
        <i class="fa-sharp fa-solid fa-eye-slash nav-icon"></i>
      </button>
    </span>
        <div *ngIf="password.invalid && password.touched" class="error-box">
          {{ password.errors?.['required']? 'Password is required' : 'Please enter a valid password.' }}
        </div>
      </div>
    </div>

    <div class="login-button-container">
      <button
        type="button"
        (click)="signIn()"
        class="btn text-white button-login"
      >
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                  *ngIf="loading"
                ></span>
        Log in
      </button>
    </div>
    <div class="mt-2">
      <a class="text-white password-label" routerLink="/signup"
      >Don't have an account?
      </a>
    </div> -->
  </div>
</div>
