$primary-color: #58A399;
$secondary-color: #E2F4C5;
$button-text-color: white;
$background-color: #f0f0f0;

.new-post-button,
.edit-post-button,
.view-chats-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $primary-color;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 1rem;
  padding: 1rem 2rem;
  transition: all 0.3s;
  font-family: 'Raleway', sans-serif;
}

.new-post-button,
.view-chats-button,
.edit-post-button {
  background-color: $primary-color;
  color: $button-text-color;

}
.edit-post-button {
  margin-bottom: 2rem;
}

.navbar {
  background-color: $background-color;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users-post-header {
  color: $primary-color;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 2rem;
  font-family: 'Raleway', sans-serif;
}

.posts-section {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  //padding: 2rem;
}

.posts-column {
  flex: 1;
  margin: 0 1rem;
}

@media (max-width: 768px) {
  .posts-section {
    flex-direction: column;
  }

  .posts-column {
    margin: 1rem 0;
  }
}
