.search-container {
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5vh;
}

.text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1vw;
  width: 100%;
  color: #58A399;
  font-weight: bold;
}

.text * {
  background-color: white;
}

.search-input {
  border-style: solid;
  border-color: #58A399;
  color: #58A399;
  font-weight: bold;
  width: 20em;
  transition: all 0.3s;
  font-size: 1em;
  padding: 0.5vw;
}

.search-input:hover, .search-input:active, .search-input:focus {
  border-color: white;
  border-bottom-color: #58A399;
  color: #58A399;
  outline: none;
  transition: all 0.3s;
}


::placeholder {
  color: #58A399;
  opacity: 1;
}

.icon-button {
  border: none;
  font-size: 1.5em;
}

.search-icon {
  cursor: pointer;
  color: #58A399;
}

.search-container p {
  margin: 0;
  font-size: 1em;
  color: #58A399;
  font-weight: bold;
}

.tags {
  display: grid;
  column-gap: 1vw;
  grid-template-columns: repeat(7, 1fr);
}

.tag {
  color: #58A399;
  font-weight: bold;
}

.tag-check {
  cursor: pointer;
  accent-color: #58A399;
  color: white;
  opacity: 1;
}

.search-button {
  background-color: #58A399;
  border: solid #58A399;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: medium;
  padding: 1vh;
  transition: all 0.3s;
}

.search-button:hover, .search-button:active {
  background-color: white;
  color: #58A399;
}

.hint-tag-button {
  cursor: pointer;
  color: #58A399;
  background-color: white;
  // border: solid #58A399;
  border: none;
  font-weight: bold;
  font-size: medium;
  min-width: 20vw;
  transition: all 0.3s;
  transform: scaleX(0);
  transform: scaleY(0);
}

.hint-tag-button.visible {
  transform: scaleX(1);
  transform: scaleY(1);
}

.hint-tag-button:hover, .hint-tag-button:active {
  color: white;
  background-color: #58A399;
}

@media (min-width: 500px) and (max-width: 768px) {
  .tags {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 499px) {
  .tags {
    grid-template-columns: repeat(3, 1fr);
  }    
}