<div class="search-container">
  <div class="text">
    <input class="search-input" type="text" placeholder="Search by text or #tag... " #searchString (input)="onInputChange(searchString.value)">
  </div>
  <p class="hints"> <button class="hint-tag-button" (click)="onHintTagClick()"> Tag hint: {{tagHint}} </button> </p>
  <p>Choose tags</p>
  <div class="tags">
    <div class="tag" *ngFor="let tag of tags">
      <input class="tag-check" type="checkbox"[id]="tag.name" [value]="tag.name" (change)="onTagChange(tag.name, $event)" #tagCheckbox> {{ tag.name }}
    </div>
  </div>
  <button class="search-button" (click)="searchAll(searchString.value)"> Show results </button>
</div>