<div class="search-container">
  <div class="text">
    <input class="search-input" type="text" placeholder="Search by text or #tag... " #searchString (input)="onInputChange(searchString.value)">
    <button class="icon-button" (click)="searchByString(searchString.value)"> <i class="fa-sharp fa-solid fa-magnifying-glass search-icon"></i> </button>
  </div>
  <p>Hint: <button class="hint-tag-button" (click)="onHintTagClick()"> {{tagHint}} </button> </p>
  <p>Choose tags</p>
  <div class="tags">
    <div class="tag" *ngFor="let tag of tags">
      <input class="tag-check" type="checkbox"[id]="tag.name" [value]="tag.name" (change)="onTagChange(tag.name, $event)" #tagCheckbox> {{ tag.name }}
    </div>
  </div>
  <button class="search-button" (click)="searchAll(searchString.value)"> Show results </button>
</div>