$main-font: 'Raleway', sans-serif;

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

.background-svg {
  height: 100vh;
  min-height: 1000px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #496989;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 12px;
  width: 600px;
  height: auto;
  max-height: 932px;
  background-color: #58A399;
  color: #fff;
  padding: 40px 40px;
  margin-top: 60px;
}

.text-white {
  font-size: 1em;
  font-family: $main-font;
  font-weight: 400;
  color: white;
}

.signup-header {
  font-size: 2.75em;
  font-weight: 700;
}

.signup-info {
  font-size: 0.9em;
  font-weight: 700;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  background-color: rgba(#030d29, 0);
  border-bottom: 2px solid white;
  margin: 0;
}

input:focus {
  background-color: rgba(#030d29, 0);
}

.element-input-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-top: 20px;
}

.element-label {
  font-weight: 700;
}

.show-password-button {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid white;
}

.show-password-button:active {
  border: 1px solid white;
  border-bottom: 2px solid white;
  border-radius: 4px;
}

.signup-button-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
}

.button-signup {
  font-weight: 700;
  font-size: 1.25em; // Adjust the font size as needed
  border: none;
  border-radius: 5px; // Rounded corners for the button
  background-color: #A8CD9F; // Button background color
  color: white; // Text color
  padding: 10px 20px; // Padding inside the button
  cursor: pointer; // Change the cursor to indicate it's clickable
  transition: background-color 0.3s ease; // Smooth transition for hover effect

  &:hover {
    background-color: darken(#A8CD9F, 10%); // Darken the background on hover
  }

  &:active {
    background-color: #A8CD9F; // Reset background color on active state
  }
}

.button-signup[disabled] {
  opacity: 0.6; // Reduce opacity to indicate the button is disabled
  cursor: not-allowed; // Change the cursor to indicate the button is not clickable
  background-color: #A8CD9F; // Keep the original background color
  &:hover {
    background-color: darken(#A8CD9F, 10%); // Maintain the hover effect
  }
  &:active {
    background-color: #A8CD9F; // Reset background color on active state
  }
}

.input-group {
  position: relative;
}

.input-group-append {
  padding-top: 0.5em;
  position: absolute;
  right: 0px;
}

.show-password-button {
  border: none;
  background: none;
  cursor: pointer;
}

.error-text {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  font-family: $main-font;
  font-weight: 400;
  color: red;
}

@media screen and (width < 768px) {
  .signup {
    width: 400px;
  }

  .text-white {
    font-size: 0.8em;
  }

  .signup-header {
    font-size: 2em;
  }

  .signup-info {
    font-size: 0.7em;
  }

  .button-signup {
    font-size: 1em;
  }
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

.password-requirements {
  display: block;
  background-color: #17b978;
  border: 1px solid #118c5b;
  border-radius: 5px; /* Add this line to round the corners */
  padding: 10px;
  font-size: 14px;
  margin-top: 15px;
  clear: both;
}

$main-font: 'Raleway', sans-serif;

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

.confirm-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 12px;
  width: 400px;
  height: auto;
  background-color: rgba(#030d29, 0.8);
  color: #fff;
  padding: 40px 40px;
}
