<div class="post">
  <div class="info">
    <div class="title">
      <h1>{{ post.title }}</h1>
    </div>
    <div class="description">
      {{ post.description }}
    </div>
    <div class="contact">
      Contact info
      <div class="contact-part">
        E-mail: {{post.authorDetails?.email}}
      </div>
      <div class="contact-part">
        Phone number: {{post.authorDetails?.phoneNumber}}
      </div>
    </div>
    <div class="send_msg">
      Send a message to seller:
      <button
        class="btn send_msg"
        (click)="redirectToChat()"
      >
        <i class="fa-sharp fa-solid fa-envelope nav-icon"></i>
      </button>
    </div>
  </div>
  <div class="photo-gallery">
    <img *ngIf="mainPhoto" class="main-photo" [src]="mainPhoto" alt="Main Photo">
    <div *ngIf="!mainPhoto" class="no-photo">No main photo available</div>
    <div class="preview">
      <div *ngFor="let photo of post.images; let i = index">
        <img class="thumbnail-prev" [src]="photo.url"
        [class.selected]="photo.url === mainPhoto"
        [class.thumbnail]="photo.url !== mainPhoto"
        (click)="changeMainPhoto(photo.url, i)">
      </div>
    </div>
  </div>
</div>
