.post {
  margin: 2em;
  display: grid;
  height: 70vh;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5em;
}

.info {
  height: 100%;
}

.main-photo {
  height: 100%; 
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.thumbnail, .selected {
  cursor: pointer;
  max-height: 20vh; /* Constrain the height */  
  max-width: 100%;
  object-fit: contain;
  opacity: 0.6;
}

.selected {
  opacity: 1;
}

.title {
  text-align: center;
}

.description {
  text-align: justify;
  text-justify: inter-word;
}

.photo-gallery {
  height: 70vh;
  display: grid;
  grid-template-rows: 70% 30%;
  row-gap: 0.1em;
  justify-content: center;
  align-items: center;
}

.preview {
  display: grid;
  max-height: 100%;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 0.2em;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .post {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1em;
  }    
}